<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- アンケート作成（詳細）ページ -->
<title>アンケート作成</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
</head>
<body>
	<h2 class="heading">アンケート作成画面（詳細）</h2>
	<div th:replace="'common/user_logout' :: user_logout"></div>
	<hr>
	<!-- アンケート作成（確認）ページに移動する際にデータを渡すためのフォーム -->
	<form th:action="@{/management/make/confirm}" th:object="${enqueteDetailForm}" method="post">
		アンケートタイトル：[[${enqueteTitle}]]
		<input type="hidden" name="enqueteTitle" th:value="${enqueteTitle}">
		<input type="hidden" name="questionMax" th:value="${questionMax}">
		<input type="hidden" name="answerMax" th:value="${answerMax}">
		<br>
		<span class="error-message" th:if="${#fields.hasErrors('enqueteTitle')}" th:errors="*{enqueteTitle}"></span>
		<!-- 質問 -->
		<div th:each="i : ${#numbers.sequence(1 ,questionMax)}">
			　問[[${i}]]：<input type="text" th:name="questions[]" size="100" th:value="${questions != null ? questions[__${i - 1}__] : ''}" >
			<span class="error-message" th:if="${#fields.hasErrors('questions[__${i - 1}__]')}" th:errors="*{questions[__${i - 1}__]}"></span>
			<br>
			<!-- 選択肢 -->
			<div th:each="j : ${#numbers.sequence(1 ,answerMax)}">
				　　　[[${j}]]：<input type="text" th:name="answers[__${i - 1}__][]" size="100" th:value="${answers != null ? answers[__${i - 1}__][__${j - 1}__] : ''}">
				<span class="error-message" th:if="${#fields.hasErrors('answers[__${i - 1}__][__${j - 1}__]')}" th:errors="*{answers[__${i - 1}__][__${j - 1}__]}"></span>
				<br>
			</div>
		<br>
		</div>
		<input type="submit" value="確認へ">
	</form>
	<hr>
	<!-- アンケート作成（概略）ページに戻る際にデータを渡すためのフォーム --> 
	<form id="form2" th:action="@{/management/make}" th:object="${enqueteOutlineForm}" method="get">
		<input type="hidden" name="enqueteTitle" th:value="${enqueteTitle}">
		<input type="hidden" name="questionMax" th:value="${questionMax}">
		<input type="hidden" name="answerMax" th:value="${answerMax}">
	</form>
	<!-- ボタンを使用せずにアンケート作成（概略）の入力欄にデータを表示させるためにhrefを以下の通りにしている -->
	<a href="javascript:form2.submit()">概略へ戻る</a>
</body>
</html>