@charset "UTF-8";
/* アンケートページのCSS */

/* 回答済みテキスト */
.answered {
	color: red;
}

/* アンケート一覧テーブルのマージン */
.enquete-list-table {
	margin-left: 0px;
}

/* アンケート回答ページの質問テキスト */
.enquete-question-text {
	color: white;
	background-color: navy;
	padding-left: 5px;
	height: 40px;
	line-height: 40px;
}

/* アンケート回答テーブル */
.enquete-answer-table {
	table-layout: fixed;
    margin-left: 20px;
    border-collapse: collapse;
}

/* アンケートの選択肢ラジオボタン */
.enquete-answer-radio {
	text-align: center;
}