@charset "UTF-8";
/* アンケート結果のCSS */

/* 質問のテキスト */
.total-question-text {
	color: white;
	background-color: navy;
	padding-left: 5px;
	height: 40px;
	line-height: 40px;
}

/* 集計テーブル */
.total-table {
	table-layout: fixed;
    margin-left: 20px;
    border-collapse: collapse;
}

/* 票数のセル */
.total-count {
	text-align: right;
	margin-left: 10px;
}

/* 合計行上部の罫線 */
.total-sum-border {
	border-top: 2px solid #800080;
}

/* 合計のテキスト */
.total-sum-text {
	text-align: center;
}